.btn {
    font-size: 15px;
    font-family: monospace;
    color: #fff;
    background: linear-gradient(to left, #1a8100, #c5bb00, #c20000);
    padding: 0.6em .8em;
    border: none;
    border-radius: 5px;
    background-size: 200%;
    transition: 0.5s;
    cursor:pointer;
    letter-spacing: 1px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 20px;
  }
  
  .btn:hover {
    background-position: right;
  }



  