.inputField {
  position: relative;
  width: 100%;
  height: 80px;
  margin-bottom: 30px;
}

.label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: #d3d3d3;
  transition: 0.2s all;
  cursor: text;
  font-size: 20px;
}

.input {
  width: 100%;
  border: 0;
  outline: 0;
  padding: 0.5rem 0;
  border-bottom: 2px solid #d3d3d3;
  box-shadow: none;
  color: rgb(255, 255, 255);
  background: inherit;
  position: relative;
  font-size: 16px;
}

.input:focus {
  color: white;
  border-color: #00dd22;
  transition: .4s;
}

.input:focus~.label {
  font-size: 16px;
  top: -30px;
  color: #00dd22;
  transition: .4s;
}


.inputError {
  width: 100%;
  border: 0;
  outline: 0;
  padding: 0.5rem 0;
  border-bottom: 2px solid #ff391b;
  box-shadow: none;
  background: inherit;
  position: relative;
  outline: 0;
  font-size: 16px;

}

.labelError {
  position: absolute;
  top: -30px;
  left: 0;
  width: 100%;
  transition: 0.4s all;
  cursor: text;
  color: #ff391b;
  font-size: 16px;
}

.inputError:focus {
  color: white;
  transition: .4s;
}

.inputError:focus~.labelError {
  position: absolute;
  font-size: 16px;
  top: -30px;
  color: #ff391b;
  transition: .4s;
}

.labelActive {
  position: absolute;
  font-size: 16px;
  left: 0;
  top: -30px;
  color: #00dd22;
  transition: .4s;
}


.errorWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.errorMessage {
  color: rgb(255, 140, 140);
  text-shadow: 1px 1px 1px rgb(51, 0, 0);
  font-size: 14px;
  letter-spacing: 1px;

}



